@import "smart-grid.less";
@import "vars.less";

.reset();

.wrapper {
  .wrapper();
}

body {
  font-family: @font;
  position: relative;  
}
// .debug {
//   .debug(rgba(8, 161, 161, 0.3), 1px solid rgba(8, 161, 161, 0.3));
//   z-index: 900;
// }

// -------------   HEADER   --------------

header {  
  background-color: #171b1f;
  .to(830px, {
    display: none;
  }); 
  
  .data-group {
    .flex();
    justify-content: center;   
    color:  #cecece;
    font-size: 14px;
    padding: 15px 0;    
  
    .phone, .email, .address, .schedule {
      display: flex;
      margin-right: 45px;
      .to(1140px, {
        margin-right: 25px;
        font-size: 12px;
      });
      .to(932px, {
        display: none;
      });
  
      &:hover {
        cursor: pointer;
      }
    }
    
    .phone-number, .email-address, .address-details, .schedule-details {
      font-weight: 300;
      letter-spacing: 1px;
      transition: color 0.4s;
    }
    
    .phone-number:hover, .email-address:hover, .address-details:hover, .schedule-details:hover {
      color: @orange;      
    }
  
    .fa-phone, .fa-envelope, .fa-map-marker-alt, .fa-clock {
      margin-right: 7px;
      font-size: 16px;
      
      &:hover {
        cursor: pointer;
      }
    }    
  }  
  
  .social-media {
    font-size: 18px;
    margin-left: auto;
    .to(1140px, {
      margin-left: 0;
      font-size: 10px;
    });

    a {
      text-decoration: none;
      color: #cecece;
    }
  
    .fa-facebook-f, .fa-vk, .fa-youtube {
      margin-right: 16px;
      font-size: 18px;
      .to(1140px, {
      margin-left: 0;
      font-size: 16px;
    });      
    }
  
    .fa-instagram {
      font-size: 18px;
      .to(1140px, {
      margin-left: 0;
      font-size: 16px;
    });
    }
  
    .fa-facebook-f:hover, .fa-vk:hover, .fa-youtube:hover, .fa-instagram:hover {
      color: @orange;
      cursor: pointer;      
    }
  } 
} 

// -------------   NAV   --------------

.menu {
  max-width: 100%;
  position: relative;
  background-color: #fff;

  .to(830px, {
    max-width: 100%;
    position: fixed;
    z-index: 1;        
  }); 
  
  nav {  
    max-width: 100%;
    box-sizing: border-box;    
    .flex();
    justify-content: center;
    align-items: center;
    .to(830px, {
      position: fixed;
      z-index: 3;
      left: 0;
      right: 0;
      background-color: #fff;     
    });    
    
    .logo {
      margin-right: auto;
      .to(830px, {
        margin-right: 0;
        padding: 10px 0;
        cursor: pointer;      
      });    
  
      .first-line {
        font-size: 24px;
        font-weight: 700;  
        letter-spacing: 1px;
        color:  #212121;
  
        .to(1140px, {
          font-size: 20px;
        });
  
        span {
          color: @orange;
        }  
      }
  
      .second-line {
        color:  #757575;
        font-size: 13px;
        letter-spacing: 4px;
        margin-top: -8px;
        
        .to(1140px, {
          font-size: 9px;
        });
      }
    }  
  
    .nav-links {
      display: flex;
      .to(830px, {
        justify-content: center;
      });
      
      .active-link {
        color: @orange;
      }

      .links {
        .to(830px, {
          display: none;
        });        
      }
  
      ul {
        display: flex;
        flex-wrap: wrap;
        .to(830px, {
          background-color: #fff;
          display: inline-block;			
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          top: 50px;
        });     
  
        li {              
          margin-right: 60px;
          box-sizing: border-box;
          padding: 25px 0;
          .to(1140px, {
            padding: 15px 0;
            font-size: 14px;
          });
          .to(830px, {
            margin-right: 0;
            text-align: center;
            padding: 10px 0;
          });             
  
          &:hover {          
            cursor: pointer;
            // border-bottom: 2px solid @orange;                     
          }
  
          &:last-child {
            margin-right: 0;
          }
  
          a {
            text-decoration: none;
            color: #030303;
  
            &:hover {
              color: @orange;            
            }
          }
        }
      }
    }
  }
}



// -------------   CAPTION   --------------

.caption-section {
  max-width: 100%;
  background-color: #030303;  
  text-align: center;  
  position: relative;

  img {
    max-width: 63%;
    opacity: 0.3;
    
    .to(1500px, {
      max-width: 70%;
    });
    .to(1250px, {
      max-width: 80%;
    });
    .to(730px, {
      max-width: 90%;
    });
    .to(550px, {
      max-width: 100%;
    });
  }

  .caption-upper-layer {
    position: absolute;      
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;                
    background-image: radial-gradient(circle farthest-side at 50%, rgba(48,63,159,0.1)29%, rgba(254,86,33,0.1)100%);
    
    h1 {
      color: #ffffff;
      font-size: 56px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-top: 13%;
      margin-bottom: 25px;
      
      .to(1400px, {
        font-size: 46px;
      });
      .to(1000px, {
        font-size: 36px;
      });
      .to(600px, {
        margin-top: 10%;
        font-size: 33px;
      });
      .to(500px, {
        margin-top: 13%;
        font-size: 25px;
      })
    }

    p {
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;      
      
      .to(1400px, {
        font-size: 16px;
      });
      .to(1000px, {
        font-size: 14px;
      });
      .to(500px, {
        font-size: 12px;
      })      
    }

    .button {
      margin-top: 50px;

      a {
        border: none;
        outline: none;
        border-radius: 25px;
        text-decoration: none;
        color: #ffffff;
        background-color: @orange;
        padding: 15px 65px 17px;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;      
        transition: color 0.5s, background-color 0.5s;
        .to(830px, {
          padding: 12px 45px 15px;
        });
  
        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: @orange;
        }
      }
    }    
  }
}

// -------------   SERVICES   --------------

.services {
  max-width: 100%;
  margin-bottom: 80px;
  
  .to(900px, {
    margin-bottom: 30px;
  });  
}

.services-caption {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 2px;  
  overflow: hidden;
  position: relative;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  padding-top: 70px;
  padding-bottom: 30px;
  .to(1100px, {
    padding-top: 30px;
  });
  .to(950px, {
    font-size: 30px;    
  });
  .to(650px, {    
    font-size: 25px;
  });

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 7%;
    height: 1px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.2);
    left: -30px;
    margin-left: -50%;
  }

  &::after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 7%;
    height: 1px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.2);
    left: 30px;
    margin-right: -50%;
  }
}

.services-items {  
  .row-flex();
  justify-content: center; 
  
  .services-item-1 {      
    .col-padding();
    .size(3);
    .size-lg(5.3);
    .size-md(6);
    .size-sm(6);
    .size-xs(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;    
    height: 550px;
    background: url(../images/1.png) no-repeat center; 
    background-size: cover;

    .from(992px, {
      &:hover {
        transform: scale(1.05);
        z-index: 4;
      }
    });
    
    h3 {
      color: #fff;
      font-size: 28px;
      font-weight: bold;            
    }
  }

  .services-item-2 {
    .col-padding();
    .size(3);
    .size-lg(5.3);
    .size-md(6);
    .size-sm(6);
    .size-xs(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;    
    height: 550px;
    background: url(../images/2.png) no-repeat center; 
    background-size: cover;

    .from(992px, {
      &:hover {
        transform: scale(1.05);
        z-index: 4;
      }
    });
    
    h3 {
      color: #fff;
      font-size: 28px;
      font-weight: bold;            
    }
  }

  .services-item-3 {
    .col-padding();
    .size(3);
    .size-lg(5.3);
    .size-md(6);
    .size-sm(6);
    .size-xs(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;    
    height: 550px;
    background: url(../images/3.png) no-repeat center; 
    background-size: cover;

    .from(992px, {
      &:hover {
        transform: scale(1.05);
        z-index: 4;
      }
    });    
  }

  .services-item-4 {
    .col-padding();
    .size(3);
    .size-lg(5.3);
    .size-md(6);
    .size-sm(6);
    .size-xs(12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.2s ease;    
    height: 550px;
    background: url(../images/4.png) no-repeat center; 
    background-size: cover;

    .from(992px, {
      &:hover {
        transform: scale(1.05);
        z-index: 4;
      }
    });    
  }  

  .upper-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(254, 86, 33, 0.7);

    &:hover {
      transform: scale(1.05);
    }
  }
  
}

// -------------   ABOUT US   --------------

.about-us {
  background: url(../images/dumbbel.png) no-repeat center; 
  background-size: cover;
  height: 1029px;
  .to(950px, {
    height: 1000px;
  });
  .to(800px, {
    height: 900px;
  });
  .to(700px, {
    height: 850px;
  });
  .to(576px, {
    height: 900px;
  });

  .about-us-caption {
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;  
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    padding-top: 70px;
    padding-bottom: 30px;
    .to(1100px, {
      padding-top: 30px;
    });
    .to(950px, {
      font-size: 30px;    
    });
    .to(650px, {      
      font-size: 25px;
    });

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.2);
      left: -30px;
      margin-left: -50%;
    }
  
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.2);
      left: 30px;
      margin-right: -50%;
    }    
  }

  p {
    max-width: 575px;
    margin: 0 auto 60px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    .to(950px, {
      font-size: 15px;    
    });
    .to(650px, {
      font-size: 13px;
    })
  }  
}

.video {
  display: flex;
  justify-content: center;

  img {
    align-self: center;
  }
}

.about-us-items {
  .row-flex();
  justify-content: center;
  .to(720px, {
    justify-content: space-around;
  });

  .about-us-item {
    .col();
    .size(2.7);
    .size-xs(6);    
    text-align: center;

    img {      
      border: 3px solid rgba(255,255,255, 0.2);
      border-radius: 50%;
      padding: 20px;
    }

    p {
      margin-top: 25px;
      .to(950px, {
        font-size: 15px;    
      });
      .to(800px, {
        margin-top: 15px;
        font-size: 12px;
      });
      .to(600px, {
        font-size: 11px;
      });
    }

    .circle {
      padding: 25px 20px;
    }
  }
}

// -------------   COACHES   --------------

.coaches {
  max-width: 100%;

  &-caption {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;  
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    padding-top: 70px;
    padding-bottom: 60px;
    .to(1100px, {
      padding-top: 30px;
    });
    .to(950px, {
      font-size: 30px;
      padding: 30px 0;    
    });
    .to(650px, {      
      font-size: 25px;
    });

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(0, 0, 0, 0.2);
      left: -30px;
      margin-left: -50%;
    }
  
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(0, 0, 0, 0.2);
      left: 30px;
      margin-right: -50%;
    }    
  }

  .coaches-items {
    .row-flex();
    justify-content: space-around;    

    .coaches-item {
      .col();
      .size(2);
      .size-md(6);
      .size-xs(12);
      text-align: center;
      margin-bottom: 50px;

      .img-wrapper {
        position: relative;
      }

      .item-header {
        margin-top: 17px;
        font-size: 26px;
        font-weight: 700;
        .to(1350px, {
          font-size: 24px;
        });
        .to(1260px, {
          font-size: 22px;
        });        
      }

      .item-subheader {
        font-size: 16px;
        margin-bottom: 20px;        
      }

      .item-text {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// -------------   FREE LESSON   --------------

.free-lesson {
  background: url(../images/lesson.png) no-repeat center; 
  background-size: cover;
  height: 495px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    .to(575px, {
      font-size: 31px;
    });    
  }

  .button {
    margin-top: 50px;

    a {
      border: 2px solid #fff;
      outline: none;
      border-radius: 25px;
      text-decoration: none;
      color: #fff;
      background-color: transparent;
      padding: 12px 65px 15px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1px;      
      transition: color 0.5s, background-color 0.5s;
      .to(830px, {
        padding: 12px 45px 15px;
      });

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: @orange;
      }
    }
  }    
}

// -------------   FEEDBACKS   --------------

.feedbacks {
  max-width: 100%;
  padding-bottom: 75px;

  h3 {
    font-family: @font;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;  
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    padding-top: 70px;
    padding-bottom: 50px;
    .to(1100px, {
      padding-top: 30px;
    });
    .to(950px, {
      font-size: 30px;
      padding: 30px 0;    
    });
    .to(650px, {      
      font-size: 25px;
    });

    &::before {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(0, 0, 0, 0.2);
      left: -30px;
      margin-left: -50%;
    }

    &::after {
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 7%;
      height: 1px;
      vertical-align: middle;
      background: rgba(0, 0, 0, 0.2);
      left: 30px;
      margin-right: -50%;
    }
  }

  .feedbacks-item {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 30px;        

    .item-text {
      text-align: center;
      margin-top: 30px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.4);
    }

    .name {
      display: flex;
      margin-top: 20px;
      font-size: 15px;

      .fa-quote-left {
        color:  rgba(189, 189, 189, 0.4);
        margin-top: 3px;
        margin-right: 5px;        
      }
    }
  }  
}

// -------------   NEWS   --------------

.news {  
  background: url(../images/news.png) no-repeat center; 
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    .to(750px, {
      font-size: 31px;
    });
    .to(620px, {
      padding: 0 45px;
    });
    .to(550px, {
      font-size: 26px;
    });
  }

  p {
    max-width: 575px;
    margin: 20px auto 40px;
    text-align: center;
    font-family: @font;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: rgba(255,255,255, 0.6);
    .to(750px, {
      font-size: 14px;
    });
    .to(620px, {
      padding: 0 35px;
    });
    .to(550px, {
      font-size: 12px;
    });
  }

  .form {
    .to(650px, {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    });

    input {
      background-color: transparent;
      width: 290px;
      outline: none;
      border: 2px solid rgba(255,255,255, 0.2);
      border-radius: 25px;
      padding: 15px;
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 15px;
      color: rgba(255,255,255, 0.2);
      margin-right: 10px;
      .to(750px, {        
        padding: 10px;
      });
      
      &::placeholder {
        font-family: @font;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 15px;
        color: rgba(255,255,255, 0.2);
      }
    }

    button {
      border: none;
      outline: none;
      border-radius: 25px;
      color: #ffffff;
      background-color: @orange;
      padding: 16px 55px 17px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 30px;
      transition: color 0.5s, background-color 0.5s;
      .to(750px, {
        padding: 12px 55px 13px;
      });

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: @orange;
      }
    }
  }
}

// -------------   MAP   --------------

// #map {
//   width: 100%;
//   height: 500px;  
// }

// -------------   FOOTER   --------------

footer {
  background: url(../images/footer.png) no-repeat center; 
  background-size: cover;
  height: 380px;
  padding-top: 50px;
  .to(992px, {
    height: 280px;
  });
  .to(735px, {
    height: 310px;
  });
  .to(720px, {
    height: 440px;
  });
  .to(576px, {
    height: 580px;
  });
  .to(470px, {
    height: 600px;
  });
  .to(380px, {
    height: 630px;
  });

  .footer-sections {
    .row-flex();
    justify-content: center;
    .to(1400px, {
      justify-content: space-around;
    });
    .to(720px, {
      justify-content: center;
    });      
    
    .footer-section {
      .col();      
    }

    .social-media {
      .size(4);
      .size-md(5);
      .size-sm(10);
      .to(720px, {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
      });

      .logo {
        .first-line {
          font-size: 24px;
          font-weight: 700;  
          letter-spacing: 1px;
          color:  #212121;
    
          span {
            color: @orange;
          }  
        }
    
        .second-line {
          color:  #757575;
          font-size: 13px;
          letter-spacing: 4px;
          margin-top: -8px;      
        }
      }
      
      .text {
        color:  #757575;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 25px;
        margin-top: 20px;
        padding-right: 50px;
        .to(1400px, {
          padding-right: 0;
        });
        .to(720px, {
          text-align: center;
        });
      }

      .icons {
        margin-top: 30px;

        a {
          text-decoration: none;
          color: @orange;
        }

        .fa{
          &-facebook-f {
            color: @orange;
            border: 1px solid @orange;
            border-radius: 50%;
            padding: 10px 15px;
            margin-right: 10px;
            transition: background-color 0.4s, color 0.4s;

            &:hover {
              background-color: @orange;
              color: #fff;
              cursor: pointer;
            }
          }
          &-vk {
            color: @orange;
            border: 1px solid @orange;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
            transition: background-color 0.4s, color 0.4s;

            &:hover {
              background-color: @orange;
              color: #fff;
              cursor: pointer;
            }
          }
          &-youtube {
            color: @orange;
            border: 1px solid @orange;
            border-radius: 50%;
            padding: 10px;
            margin-right: 10px;
            transition: background-color 0.4s, color 0.4s;

            &:hover {
              background-color: @orange;
              color: #fff;
              cursor: pointer;
            }
          }
          &-instagram {
            color: @orange;
            border: 1px solid @orange;
            border-radius: 50%;
            padding: 10px 12px;
            margin-right: 10px;
            transition: background-color 0.4s, color 0.4s;
            
            &:hover {
              background-color: @orange;
              color: #fff;
              cursor: pointer;
            }
          }
          
          &::last-child {
            margin-right: 0;
          }
        }
      }
    }
    
    .pages {
      .size(2.2);
      
      .to(992px, {
        display: none;
      });

      .caption {
        color:  #212121;
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 700;
      }

      ul {
        margin-top: 25px;

        li {
          margin-bottom: 20px;
          font-size: 16px;
          color:  #757575;

          &:hover {
            cursor: pointer;            
          }

          a {
            text-decoration: none;
            color: #030303;
  
            &:hover {
              color: @orange;            
            }
          }
        }
      }
    }

    .contacts {
      .size(2.2);
      .size-md(3.5);
      .size-sm(5);
      .size-xs(12);
      .to(576px, {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
      });      

      .caption {
        color:  #212121;
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 700;
        margin-bottom: 25px;        
      }

      .phone {
        display: flex;

        .fa-phone {
          margin-right: 10px;
          color:  #757575;
          margin-bottom: 20px;
        }

        .phone-number {
          font-size: 16px;
          color:  #757575;
          letter-spacing: 0.5px;
        }
      }

      .email {
        display: flex;

        .fa-envelope {
          margin-right: 10px;
          color:  #757575;
          margin-bottom: 20px;
        }

        .email-address {
          font-size: 16px;
          color:  #757575;
          letter-spacing: 0.5px;
        }
      }

      .address {
        display: flex;

        .fa-map-marker-alt {
          margin-right: 10px;
          color:  #757575;
          margin-bottom: 20px;
        }

        .address-details {
          font-size: 16px;
          color:  #757575;
          letter-spacing: 0.5px;
        }
      }
    }

    .schedule {
      .size(2.2);
      .size-md(3.5);
      .size-sm(5);
      .size-xs(12);
      .to(576px, {
        display: flex;
        flex-direction: column;
        align-items: center;
      });

      .caption {
        color:  #212121;
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      p {
        font-size: 16px;
        color:  #757575;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
      }
    }
  }

  .rights {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .to(576px, {
      margin-top: 10px;
    });

    .fa-copyright {
      font-size: 12px;
      color:  #757575;
      margin-top: 3px;
      margin-right: 3px;
    }

    p {
      font-size: 12px;
      color:  #757575;
      letter-spacing: 0.5px;
    }
  }
}

// MODAL WINDOW

.modal-window {
  display: none;     
}

.modal {
  max-width: 900px;
  padding: 50px;
  background-color: #fff;
  margin: auto;
  position: relative;
}

.modal-caption {  
  font-size: 30px;
  font-weight: bold;  
}

.modal-text {
  font-size: 25px; 
}

.programms {
  display: none;
}

.choise {
  display: none;
}